{% load menu_tags about_tags blog_tags %}
<ul class="mobile-list">
  {% for item in menu_items %}
    <li class="{{ item.active_class }}">
      <a href="{{ item.href }}">{{ item.text }}</a>
      {% if item.has_children_in_menu %}{% sub_menu item %}{% endif %}
    </li>
  {% endfor %}
  {# "Blog" isn't a wagtailmenus item either -- see blog/templatetags/blog_tags.py #}
  {% blog_url as blog_link %}
  {% if blog_link %}
    <li class="{% if request.path|startswith:blog_link %}active{% endif %}">
      <a href="{{ blog_link }}"{% if request.path|startswith:blog_link %} aria-current="page"{% endif %}>Blog</a>
    </li>
  {% endif %}
  {# "Our Story" isn't a wagtailmenus item -- see home/templatetags/about_tags.py #}
  {% our_story_url as our_story_link %}
  {% if our_story_link %}
    <li class="{% if request.path == our_story_link %}active{% endif %}">
      <a href="{{ our_story_link }}">Our Story</a>
    </li>
  {% endif %}
</ul>
